/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
}


/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.pak2{
  font-size: 20px;
}
.delive{
  padding-left: 20px;
  color: gray;
  font-size: 15px;
}

/* NAVBAR */
nav {
  background-color: black;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
}

/* LOGO */
.amazon {
  background-image: url(/amazon_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  height: 70px;
 
}
.amazon:hover{
   border: 1px solid white;

}
.return:hover{
   border: 1px solid white;
}
.hello:hover{
   border: 1px solid white;
}
a:hover{
  border: 1px solid white;
  background-color: orangered;
}
/*cart*/
.carti{
    width: 140px;
    height: 40px;
    margin-right: 20px;
    font-size: 50px;
    position: relative;
    color: red;
}
.pak{
  display: flex;
  
}

/* DELIVERY */
.deliver {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.deliver:hover{
   border: 1px solid white;

}

/* SEARCH BAR */
.content {
  display: flex;
  flex: 1;
  max-width: 600px;
  margin: 10px;
}

select {
  width: 60px;
  border-radius: 5px 0 0 5px;
  height: 40px;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: none;
  height: 40px;
 width:500px;
}
input[type="text"]:hover{
  border: white solid transparent;
  zoom: 0%;
}
.search {
  background-color: orange;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}

/* LINKS */
a {
  color: white;
  text-decoration: none;
}

/* MENU */
.menu {
  background-color: rgb(20, 20, 75);
  display: flex;
  flex-wrap: wrap;
  
  padding: 10px;
}

.me {
  padding: 8px 12px;
  font-size: 16px;
  
}

/* SHOPPING SECTION */
.shopping,
.shopbox2,
.shopbox3,
.shopbox4,
.shopbox5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ccc;
  padding: 20px 0;
  
}

/*  */
.dollar{
  font-size: 30px;
  padding-left: 20px;
  font-family:'Times New Roman', Times, serif
}
.stbtn{
  text-align: center;
  width: 170px;
  height: 50px;
  background-color: red;
  border-radius: 20px;
  color: white;
  margin-top: 0px;
  font-size: 30px;
  margin-left: 50px;

}
.stbtn:hover{
  background-color: black;
  color: white;
}

/* PRODUCT BOX */
.buys {
  background-color: white;
  width: 23%;
  min-width: 250px;
  height: 370px;
  margin: 10px;
  padding: 15px;
}

/* IMAGE */
.img-box {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* FOOTER */
.back {
  background-color: #485769;
  color: white;
  text-align: center;
  padding: 10px;
}

.bottom {
  background-color: #232F3E;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
}

.bx {
  width: 220px;
  margin: 10px;
  color: white;
}

/* FOOTER BOTTOM */
.botom1 {
  background-color: #232F3E;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

button {
  background-color: #232F3E;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

/* ---------------- RESPONSIVE ---------------- */

/* TABLET */

.poster{
  width: 100%;
  height: 380px;
  background-image: url(/WhatsApp\ Image\ 2026-02-05\ at\ 8.09.45\ PM.jpeg);
  background-repeat: no-repeat;
  background-size: 1400px;
  
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
opacity: 1;
scale: 1.1;
  }
}
.buys{
  animation:appear ;
  
  animation-timeline: view();
  animation-range: entry 5% cover 100%;


}
 
button:hover{
  background-color: red;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
